<section>
    <homecarousel></homecarousel>
    <div class="row">
        <div class="col-md-12 landingCatalogTitle" >
            <h2>Top Catalogs</h2>
        </div>
        <div class="col-md-6" >
            <div class="panel panel-default">
                <div class="panel-category-list">
                    <div class="well landingmaincatalog">
                        <a ng-href="catalog/01-00052812-00052812-00000-00002">
                            <figure>
                                <img class="img-responsive" ng-src="https://www.four51.com/Themes/Custom/dabab82a-1302-4cc0-b5e6-55d349494117/RightManagement/rm_marketing.jpg"/>
                            </figure>
                            <h5>Marketing</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="panel panel-default" >
                <div class="panel-category-list">
                    <nav class="nav 451_lbl_subcatlist">
                        <ul>
                            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="well">
                                    <a ng-href="catalog/01-00052812-00052812-00000-00002">
                                        <figure>
                                            <img class="img-responsive" ng-src="https://www.four51.com/Themes/Custom/dabab82a-1302-4cc0-b5e6-55d349494117/RightManagement/rm_marketing.jpg"/>
                                        </figure>
                                        <h5>Marketing</h5>
                                    </a>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="well">
                                    <a ng-href="catalog/01-00052812-00052812-00001-00007">
                                        <figure>
                                            <img class="img-responsive" ng-src="https://www.four51.com/Themes/Custom/dabab82a-1302-4cc0-b5e6-55d349494117/RightManagement/rm_delivery.jpg"/>
                                        </figure>
                                        <h5>Delivery</h5>
                                    </a>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="well">
                                    <a ng-href="catalog/01-00052812-00052812-00000-00002">
                                        <figure>
                                            <img class="img-responsive" ng-src="https://www.four51.com/Themes/Custom/dabab82a-1302-4cc0-b5e6-55d349494117/RightManagement/rm_marketing.jpg"/>
                                        </figure>
                                        <h5>Marketing</h5>
                                    </a>
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="well">
                                    <a ng-href="catalog/01-00052812-00052812-00001-00003">
                                        <figure>
                                            <img class="img-responsive" ng-src="https://www.four51.com/Themes/Custom/dabab82a-1302-4cc0-b5e6-55d349494117/RightManagement/rm_admin.jpg"/>
                                        </figure>
                                        <h5>Admin</h5>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <div class="col-md-12" >
            <featuredproducts/>
            <!--<relatedproducts ="rm_NewProducts"/>
            <div class="col-md-3" >
                <h2>Product1</h2>
            </div>
            <div class="col-md-3" >
                <h2>Product2</h2>
            </div>
            <div class="col-md-3" >
                <h2>Product3</h2>
            </div>
            <div class="col-md-3" >
                <h2>Product4</h2>
            </div>-->
        </div>
    </div>
</section>